input,
select {
  padding: 10px;
  width: 40px;
  font-size: 14px;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
}
form{
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

button {
 width: initial;
  padding: 12px 8px;
  margin: 0 5px;
  font-size: 14px;
  box-shadow: 0 7px 23px 0 rgba(132, 134, 218, 0.36);
}

@media (max-width: 576px) {
  .member-card {
    flex: 0 1 100%;
  }
}
@media (min-width: 576px) {
  .member-card {
    flex: 0 1 100%;
  }
}
@media (min-width: 768px) {
  .member-card {
    flex: 0 1 50%;
  }
}
@media (min-width: 922px) {
  .member-card {
    flex: 0 1 33.3333%;
  }
}
@media (min-width: 1200px) {
  .member-card {
    flex: 0 1 25%;
  }
}
