<div
  style="
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    align-content: flex-start;
    height: calc(100vh - 133px);
  "
>
  <app-member-card
    class="member-card"
    *ngFor="let member of members"
    [member]="member"
  ></app-member-card>
</div>

  <mat-paginator *ngIf="pagination"

    [length]="pagination.totalItems"
    [pageSize]="pageSize"
    [pageSize]="pageSize"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageChanged($event)"
  >
  </mat-paginator>

