<div class="app">
  <div class="app-nav">
    <div style="font-size: 40px; font-weight: 700; color: white">B.</div>

    <ul>
      <li routerLink="/main/binds" routerLinkActive='active'>Binds</li>
      <li routerLink="/main/messages" routerLinkActive='active'>Messages</li>
      <li routerLink="/main/likes" routerLinkActive='active'>Likes</li>
      <li>Help</li>
    </ul>
    <i
      class="fa fa-cog"
      style="position: fixed; bottom: 30px; font-size: 40px; color: white"
    ></i>
  </div>
  <div class="app-main">
    <div (click)="logout()" style="display: flex; justify-content: flex-end; width: 100%" *ngIf="accountService.currentUser$ | async as user">
      {{user.username}}
    </div>
    <router-outlet></router-outlet>
    <!-- <div style="width: 500px; height: 300px; background: white"></div> -->
  </div>
</div>
