<div class="grid" *ngIf="member">
   
    <div class="user">
        <div class="card-img-wrapper"
        style="background-image: url('{{photoUrl}}');width: 100%; height: 350px; 
        margin-bottom: 18px;
        background-repeat: no-repeat; background-position: center; background-size: cover; border-radius: 4px; box-shadow: 0 9px 27px 0 rgba(131,142,176,0.7);"></div>
        <div class="body" >
            <div style="margin-bottom: 10px;">
                <strong>Location:</strong>
                <p>{{member.city}}, {{member.country}}</p>
            </div>
            <div style="margin-bottom: 10px;">
                <strong>Age:</strong>
                <p>{{member.age}}</p>
            </div>
            <div style="margin-bottom: 10px;">
                <strong>Last Active:</strong>
                <p>{{member.lastActive}}</p>
            </div>
            <div >
                <strong>Member since:</strong>
                <p>{{member.created}}</p>
            </div>
           <div class="footer">
            <div style="display: flex; justify-content: space-around; ">
               
                <button [disabled]='!editForm.dirty' form="editForm" style="width: 100%; margin-top: 30px; " type="submit" >Save changes</button>
            </div>
           </div>
        </div>
    </div>
    <div class="photos" style="width: 100%;">
       
        <mat-tab-group mat-align-tabs="start" >
            <mat-tab label='Edit profile'>
                <div style="padding: 20px; overflow: auto; height: 70vh;">
                <div style="background-color: rgb(255, 96, 96); padding: 20px; color: white;" *ngIf="editForm.dirty">You have made changes. Any unsaved changes will be lost</div>
                <form #editForm="ngForm" (ngSubmit)="updateMember()" id="editForm">
                <h4>Description</h4>
                <textarea [(ngModel)]="member.introduction" name="introduction"  rows="6"></textarea>
                <h4>Looking for</h4>
                <textarea [(ngModel)]="member.lookingFor"  name="lookingFor"  rows="6"></textarea>
                <h4>Interests</h4>
                <textarea [(ngModel)]="member.interests"  name="interests"  rows="6"></textarea>
        
                <h4>Location</h4>
                <input [(ngModel)]="member.city"  name="city" type="text" >
                <h4>Country</h4>
                <input [(ngModel)]="member.country"  name="country" type="text" >
                
            </form>
            </div>
            </mat-tab>
            <mat-tab label='Edit photos'>
                <div style="padding: 20px; overflow: auto; height: 70vh;">
                <app-photo-editor [member]="member"></app-photo-editor>
            </div>
            </mat-tab>
          </mat-tab-group>
    </div>
</div>
