
html, body { height: 100%; width: 100%; margin: 0; padding: 0;font-family: Roboto, "Helvetica Neue", sans-serif;}
h1,h2,h6{margin: 0;}
p{
    margin: 0;
}
ul {
    list-style-type: none;
    padding: 0;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    animation: show 0.5s ease-in-out;
  }
  input,
select,
textarea {
  padding: 20px 0 20px 25px;
  font-size: 14px;
  border-radius: 5px;
  background-color: rgb(240, 245, 248);
  border: none;
  outline: none;
}
input::placeholder {
    color: rgb(25, 39, 64);
  }
  button {
    width: 150px;
    padding: 16px 0;
    background-color: #ff6866;
    
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
  }

@keyframes show {
	0% {
    opacity: 0;
    transform: translateX(-80px);
    
	}
	
	 100% {
     opacity: 1;
    transform: translateX(0);
    
    
	}
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background-color: #2d46c9 !important;
}