<div

  style="
    height: calc(100vh - 150px);
    width: 100%;
    overflow: auto;
    margin-top: 20px;
  "
>
  <div>
    <button type="button" (click)="toggleInbox('Unread')">Unread</button>
    <button type="button" (click)="toggleInbox('Inbox')">Inbox</button>
    <button type="button" (click)="toggleInbox('Outbox')">Outbox</button>
  </div>
  <div *ngIf="!loading">
    <table mat-table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="content">
        <th mat-header-cell *matHeaderCellDef fxFlex="200">Content</th>
        <td mat-cell *matCellDef="let element" fxFlex="200" class="dupa">
          {{ element.content }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef>From/To</th>
        <td
          mat-cell
          *matCellDef="let element"
          style="display: flex; align-items: center"
        >
          <div *ngIf="container === 'Outbox'">
            <img
              class="img-circle"
              src="{{ element.recipientPhotoUrl || './assets/user.png' }}"
              alt="{{ element.recipientUsername }}"
            />
            <strong>{{ element.recipientUsername | titlecase }}</strong>
          </div>
          <div *ngIf="container !== 'Outbox'">
            <img
              class="img-circle"
              src="{{ element.senderPhotoUrl || './assets/user.png' }}"
              alt="{{ element.senderUsername }}"
            />
            <strong>{{ element.senderUsername | titlecase }}</strong>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="sent">
        <th mat-header-cell *matHeaderCellDef>Sent/Received</th>
        <td mat-cell *matCellDef="let element">
          {{ element.messageSent | date }}
        </td>
      </ng-container>
      <ng-container matColumnDef="button">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let element"><button (click)="$event.stopPropagation()" (click)="deleteMessage(element.id)">Delete</button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        routerLink="{{
          container === 'Outbox'
            ? '/home/' + row.recipientUsername
            : '/home/' + row.senderUsername
        }}" [queryParams]='{tab:3}'
      ></tr>
    </table>
  </div>
</div>
<div class="mat-elevation-z8">
  <mat-paginator
    *ngIf="pagination"
    [length]="pagination.totalItems"
    [pageSize]="pageSize"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageChanged($event)"
  >
  </mat-paginator>
</div>
