form {
  display: flex;
  flex-direction: column;
  animation: show 0.5s ease-in-out;
}

input,
select,
textarea {
  padding: 20px 0 20px 25px;
  font-size: 14px;
  border-radius: 5px;
  background-color: rgb(240, 245, 248);
  border: none;
  margin-bottom: 10px;
}
input::placeholder {
  color: rgb(25, 39, 64);
}
.is-invalid:focus{
  border: 2px solid tomato;
  margin-bottom: 0 !important;
}

button {
  width: 150px;
  padding: 15px 0;
  background-color: #ff6866;
  box-shadow: 0 7px 23px 0 rgba(132, 134, 218, 0.36);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  margin-top: 10px;
}
button:disabled{
  background-color: #dbc2c1;
}
.is-invalid{
  border: 2px solid tomato;
  margin-bottom: 0 !important;
}
.error{
    font-size: 12px;
    color: tomato; 
    margin: 2px 0;
}