input,
select,
textarea {
  margin-bottom: 10px;
}
button {
  margin-top: 10px;
  box-shadow: 0 7px 23px 0 rgba(132, 134, 218, 0.36);
}
button:disabled{
  background-color: #dbc2c1;
}
.is-invalid {
  border: 2px solid tomato;
  margin-bottom: 0 !important;
}
.is-invalid:focus {
  border: 2px solid tomato;
  margin-bottom: 0 !important;
}
.error {
  font-size: 12px;
  color: tomato;
  margin: 2px 0;
}
