<div style="width: 90%; margin: auto">
  <h2 style="margin-bottom: 20px">Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()">
    <div style="margin-bottom: 10px">
      <label style="margin-right: 10px">I am a: </label>
      <label>
        <input type="radio" value="male" formControlName="gender" /> Male
      </label>
      <label>
        <input
          type="radio"
          value="female"
          formControlName="gender"
          class="ml-3"
        />
        Female
      </label>
    </div>
    <app-text-input
      [formControl]="registerForm.controls['username']"
      [label]="'Username'"
    ></app-text-input>
    <app-text-input
      [formControl]="registerForm.controls['knownAs']"
      [label]="'Known as'"
    ></app-text-input>
    <div
      style="
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-between;
      "
    >
      <input
        [max]="minDate"
        [class.is-invalid]="
          registerForm.get('dateOfBirth').errors &&
          registerForm.get('dateOfBirth').touched
        "
        style="width: 80%"
       
        [matDatepicker]="picker"
        [formControl]="registerForm.controls['dateOfBirth']"
        placeholder="Date of birth"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <div
        *ngIf="
          registerForm.get('dateOfBirth').errors &&
          registerForm.get('dateOfBirth').touched
        "
        class="error"
      >
        Please provide a DOB
      </div>
    </div>

    <app-text-input
      [formControl]="registerForm.controls['city']"
      [label]="'City'"
    ></app-text-input>
    <app-text-input
      [formControl]="registerForm.controls['country']"
      [label]="'country'"
    ></app-text-input>
    <app-text-input
      [formControl]="registerForm.controls['password']"
      [type]="'passowrd'"
      [label]="'Password'"
    ></app-text-input
    ><app-text-input
    [type]="'password'"
      [formControl]="registerForm.controls['confirmPassword']"
      [label]="'Confirm Password'"
    ></app-text-input>
    <div *ngIf="validationErrors.length > 0">
      <ul>
        <li *ngFor="let error of validationErrors">
          {{error}}
        </li>
      </ul>
    </div>
    <div style="display: flex; justify-content: space-between">
    
      <button [disabled]='!registerForm.valid' type="submit">Register</button>
      <button
        type="button"
        style="width: 100px; font-size: 16px; padding: 9px 0; margin-left: 20px"
        (click)="toogle()"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
