input {
  width: 80%;
}
button{
  box-shadow: 0 7px 23px 0 rgba(132, 134, 218, 0.36);
}
.head {
  font-size: 65px;
  font-weight: 600;
  color: #121f3e;
  letter-spacing: 1.6px;
}
.sub-head {
  font-size: 35px;
  color: #b9b9b9;
  margin-bottom: 35px;
}
